<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vehicle Added - Citibike</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<!--<link href="../static/css/bootstrap.min.css" rel="stylesheet">-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

		<!-- Custom CSS -->
		<link href="../static/css/simple-sidebar.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		{% extends "base.html" %} {% block content %}
	<div>
		<h1>The New Vehicle</h1> {{table | safe}}
	</div>

If you don't see a table of the new vehicle, there is an error in the adding process.


	
	{% endblock %}
	</body>
</html>